/* .playfair-display-title {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400; /* <font-weight>: Use a value from 400 to 900 
  font-style: normal;
} */
  
/* General styling */

body {
  margin: auto;
  height: 100%;
  width: 95%;
  font-size: 1.5vmin;
  font-family: sans-serif;
  background-color: #ffffff;
  overflow: hidden;
}
}

/* For content-0 (title) */

.title-box {
  position: relative;
  height: 20%;
  top: 0;
  padding-bottom: 5px;
}

.title-box-text {
  display: grid;
  align-content: end;
  /* background-color: white; */
  width: 100%;
  height: 100%;
  color: red;
  text-align: center;
  font-size: 7vh;
  font-weight: 700;
  text-transform: capitalize;
  text-transform: uppercase;
  padding-top: 50px;
}

.subtitle-text {
  display: grid;
  align-content: end;
  /* background-color: white; */
  text-align: center;
  font-size: 2vh;
  font-weight: 400;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure it's behind other content */
  object-fit: cover; /* Maintain aspect ratio while covering the entire container */
}

/* For contents */

  .content-container {
    position: relative;
    z-index: 1;
  }
    #content-0 {
      height: 100vh;
    }
    #content-1,
    #content-2,
    #content-3,
    #content-4 {
        top: 100%; /* Push them below content-0 */
        left: 0;
        width: 100%;
     }
/* Habin */
html {
  height: 1.618;
}

.bg {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 100vh;
  z-index: 1;
} 
.section {
  display: flex; 
  min-height: 100vh;
  position: relative;
  z-index: 2;
}
.section > * {
  width: 50%; 
}
.section-img {
  position: relative;
  display: flex;
}
.section-img-inner {
  height: 100vh;
  position: fixed;
  left: 5%;
  width: 40%;
  top: 0;
  mix-blend-mode: multiply;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  filter: blur(30px);
  opacity: 0;
  background-position: 50% 40%;
  transition: .6s ease, opacity .6s ease, background-position .8s ease;
}
.section-body {
  display: flex;
  align-items: center;
}
.section-text {
  padding: 5vw;
}
.section.active .section-img-inner {
  opacity: 1;
  background-position: 50% 50%;
  filter: blur(0);
}
h2 {
  font-size: 3vw;
  margin-bottom: 0.5em;
  margin-top: 0;
}

